@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.reddit-mono {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.rakkas{
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
}

.workbench{
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

.fancy{
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bubblegum{
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-10xl{
    font-size: 12rem;
    line-height: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.flex-3{
    flex: 4;
}

.transition {
    transition: all 0.2s ease-in-out;
  }

.login-button{
    height: 6rem;
    width: 14rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 15px;
    background-color: rgb(88, 125, 195);
}

.border-black{
    border: 2px black solid;
}

.box{
    height: 100vh;
    background-color: rgb(227, 230, 252);
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding: 6rem 0;
}

.login-background{
    object-fit: contain;
}

.radio{
    appearance: none;

    border-radius: 20%;
    width: 24px;
    height: 24px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
    cursor: pointer;
}

.radio:checked {
    border: 8px solid rgb(4, 73, 211);
  }