@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Roboto', sans-serif;
}

.fancy{
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bubblegum{
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-10xl{
    font-size: 12rem;
    line-height: 1;
}